{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="main-banner" id="top">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid" src="{{ url('theme://images/nina-banner-photo.png') }}" alt="">
            </div>
            <div class="col-md-8">
              <h1 class="banner-heading">Inspiring women to embrace fitness and nutritious food during and after pregnancy.</h1>
              <h2>Nina Biodrowicz</h2>
              <p>Pre &amp; Post Natal Specialist</p>
            </div>
          </div>

        </div>
      </div>

      <section id="about">
        <div class="container">
          <div class="row margin__top--large">
            <div class="col-md-10 offset-md-1 text-center">
              <img class="margin__bottom--medium" width="100" src="{{ url('theme://images/nina-icon.svg') }}" alt="">
              <h2>About Nina's Wellness</h2>
              <p class="body-text--intro">
                I'm Nina, mum of Carmen and founder of Nina's Wellness Pre &amp; Post Natal Care. After many years of working in the fitness industry as a Personal Trainer and Fitness Instructor, I have chosen to focus on pregnancy, post partum period and transition to motherhood from the fitness and wellbeing perspective.
              </p>
              <p class="body-text--medium">
                In 2017 I gained specialist qualifications that allow me to work with expecting and new mums and I continuously deepen and update my knowledge so I can bring the best practice to my Pre &amp; Post Natal Classes.
              </p>
              <p class="body-text--medium">
                I help women not only physically to go throug the pregnancy but also mentally, as my focus is on mindful motherhood where women take a pleasure in looking after herself on a daily basis. What she does in terms of welling, will be quickly copied by her kids and I believe this is the best way of raising a healthy and active family.
              </p>
              <p class="body-text--medium">
                I live in Essex and I have built a strong community of women who want to take care of their health, wellbeing and who believe the healthy lifestyle can be a way of living. I strive to grow my community and reach out to as many women as possible and always welcome any expecting or new mum who wishes to feel confident, energised and strong in her mind and body.
              </p>
              <p class="body-text--medium">
                What I promote and teach under Nina's Wellness is what I do as Nina. I believe in movement, nutritious food and self care on a daily basis. My specialist fitness Pre &amp; Post Natal Classes help women to reconnect with their bodies and minds, get stronger, more energised and happier!
              </p>
            </div>
          </div>


          <div class="panel panel-default margin__top--large margin__bottom--large">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <h3>My Qualifications and Certifications:</h3>
                  <ul>
                    <li>Modern Pregnancy Exercise Prescription CPD</li>
                    <li>Active IQ Level 3 Diploma in Fitness Instructions and Personal Training (QCF)</li>
                    <li>Active IQ Award in Instructing Circuit Sessions</li>
                    <li>Studio Cycle Instructor Training</li>
                    <li>Acitive IQ Level 2 First Aid (QCF)</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 text-center">
                      <img class="img-fluid margin__top--medium" src="{{ url('theme://images/rep-logo.png') }}" alt="">
                    </div>
                    <div class="col-md-6 col-sm-6 text-center">
                      <img class="img-fluid margin__top--medium" src="{{ url('theme://images/burrell-logo.png') }}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h3>Lola Navarro</h3>
              <p class="body-text--intro">
                Mum of 2
              </p>
              <p>
                Thank you Nina for injecting me with the desire of getting fit after having my second child. The sessions were great and your energy and support to get the group through was the key to make me go Saturday mornings when all I wanted was to sleep. Nina's session will be the best reminder of how important your wellbeing is, allowing you to reconnect with yourself again. Don't think twice, just go for it!
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="classes">
        <div class="container fluid-container-mobile">
          <div class="row">
            <div class="section-intro col-md-8 offset-md-2 text-center">
              <img class="margin__bottom--medium" width="200" src="{{ url('theme://images/flower-icon.svg') }}" alt="">
              <h2>My Classes</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptatem nisi vel distinctio explicabo quasi sequi harum unde.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <div class="product-box">
                <span class="class-type">4 Classes</span>
                <a class="product-box__heading" href="#">
                  <img src="{{ url('theme://images/classes/mindful-mama.png') }}" alt="">
                </a>
                <div class="product-box__content">
                  <h4 class="match-height">Mindful Mama Pre Natal Workout</h4>
                  <p>4 classes prepaid block (to be used within 6 weeks)</p>
                  <p class="price">&pound;40</p>
                  <a class="btn btn-default" href="#" data-toggle="modal" data-target="#productOne">More info</a>
                </div>
              </div>
            </div>
            <div class="modal fade" id="productOne" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mindful Mama Pre Natal Workout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Mindful MaMa Pre Natal Workout offer specialised and safe exercise program for expecting mums. The classes are suitable from 12 until 40 week pregnancy. The exercises will help you to increase your strength and flexibility with the focus on core and pelvic floor. You will be guided through effective methods and postures to release common pregnancy pains. Each class ends with relaxation techniques during which you can restore and revive your mind and body... like a real Mindful MaMa.
                  </div>
                  <div class="modal-footer">
                    <div class="container">
                      <div class="row">
                        <div class="margin__bottom--small col-md-6 text-center text-md-left">
                          <h3 class="modal-price"><span>Price:</span> &pound;40</h3>
                        </div>
                        <div class="col-md-6 text-center text-md-right">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="28KLYY3WH2PMQ">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

                          
                        </div>
                      </div>                    
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-4 text-center">
              <div class="product-box">
                <span class="class-type">1 Session</span>
                <a class="product-box__heading" href="#">
                  <img src="{{ url('theme://images/classes/personal-training.png') }}" alt="">
                </a>
                <div class="product-box__content">
                  <h4 class="match-height">1-To-1 Personal Training</h4>
                  <p>1 sessions prepaid (to be used within 5 weeks)</p>
                  <p class="price">&pound;45</p>
                  <a class="btn btn-default" href="#" data-toggle="modal" data-target="#productTwo">More info</a>
                </div>
              </div>
            </div>
            <div class="modal fade" id="productTwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">1-To-1 Personal Training</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bespoke training sessions are available for expecting and new mums. You will be guided through a bespoke program that will suit only you and your lifestyle. The private sessions can take place in your own home or at the studio in Billericay. Please contact me directly to discuss your requirements.
                  </div>
                  <div class="modal-footer">
                    <div class="container">
                      <div class="row">
                        <div class="margin__bottom--small col-md-6 text-center text-md-left">
                          <h3 class="modal-price"><span>Price:</span> &pound;45</h3>
                        </div>
                        <div class="col-md-6 text-center text-md-right">
                          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="E5NH5FSNNS7XJ">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

                        </div>
                      </div>                    
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-4 text-center">
              <div class="product-box">
                <span class="class-type">4 Sessions</span>
                <a class="product-box__heading" href="#">
                  <img src="{{ url('theme://images/classes/personal-training.png') }}" alt="">
                </a>
                <div class="product-box__content">
                  <h4 class="match-height">1-To-1 Personal Training</h4>
                  <p>4 sessions prepaid (to be used within 6 weeks)</p>
                  <p class="price">&pound;160</p>
                  <a class="btn btn-default" href="#" data-toggle="modal" data-target="#productThree">More info</a>
                </div>
              </div>
            </div>
            <div class="modal fade" id="productThree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">1-To-1 Personal Training</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bespoke training sessions are available for expecting and new mums. You will be guided through a bespoke program that will suit only you and your lifestyle. The private sessions can take place in your own home or at the studio in Billericay. Please contact me directly to discuss your requirements.
                  </div>
                  <div class="modal-footer">
                    <div class="container">
                      <div class="row">
                        <div class="margin__bottom--small col-md-6 text-center text-md-left">
                          <h3 class="modal-price"><span>Price:</span> &pound;160</h3>
                        </div>
                        <div class="col-md-6 text-center text-md-right">
                          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TGAETXGS4WY6L">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

                        </div>
                      </div>                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin__top--xlarge">
            <div class="col-md-8 offset-md-2 text-center">
              <a href="#" class="btn btn-primary">Book a class</a>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h3>Eva Calle Rubi</h3>
              <p class="body-text--intro">
                Mum of 2
              </p>
              <p>
                Nina is a very inspiring and motivating trainer. She always created individualised routines which fit perfectly to my needs was always opened to suggestions. Well resourced and brilliant music! I would highly recommend her.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="instagram">
        <div class="container-fluid">
          <div class="row">
            <div class="section-intro col-md-8 offset-md-2 text-center">
              <img class="margin__bottom--medium" width="100" src="{{ url('theme://images/instagram-icon.svg') }}" alt="">
              <h2>Instagram Feed</h2>
              <p class="body-text--intro">
                Follow my feed for inspiration and useful advice on nutrition, exercise &amp; poses and updates on my classes!
              </p>
              
            </div>
          </div>
          {{ instagram_feed() }}
        </div>
      </section>

      <section class="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h3>Nathan Adams</h3>
              <p>
                I can highly recommend Nina's fitness sessions. Nina did some brilliant PT sessions for me - great fun, hard work and really helped me improve my all round fitness. I could see the results and nearly 2 years later I am still keeping up what I learnt with Nina!
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="blog">
        <div class="container">
        
          <div class="row">
            <div class="section-intro col-md-8 offset-md-2 text-center">
              <img class="margin__bottom--medium" width="100" src="{{ url('theme://images/blog-icon.svg') }}" alt="">
              <h2>My Blog</h2>
              <p>
                Follow my feed for inspiration and useful advise on nutrition, exercise &amp; poses and updates on my classes!
              </p>
            </div>
          </div>
          {% include 'partials/recent-posts.html.twig' %}
          
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <a href="#" class="btn btn-primary">See more posts</a>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h3>Paula Couso Tome</h3>
              <p class="body-text--intro">
                Mum of 2
              </p>
              <p>
                I couldn't recommend Nina's fitness sessions enough. I joined her Bootcamp sessions to get back in shape after having my second child. She made us work hard but I could see the results straight away. It's a shame I can't go anymore.
              </p>
            </div>
          </div>
        </div>
      </section>

      
{% endblock %}
